# Database
POSTGRES_PASSWORD=motdepasse_fort_ici

# JWT
JWT_SECRET=secret_jwt_tres_long_et_aleatoire
JWT_REFRESH_SECRET=secret_refresh_tres_long_et_aleatoire

# Google OAuth
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx

# Stripe
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_PUBLISHABLE_KEY=pk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_ID_MONTHLY=price_xxx
STRIPE_PRICE_ID_YEARLY=price_xxx

# App
APP_URL=https://haloduo.app
GROQ_API_KEY=gsk_xxx
